/* Home.css */

.home {
    text-align: center;
    padding: 20px;
  }
  
  .home h1 {
    font-size: 32px;
    color: #333; /* Dark text color */
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
    color: #666; /* Slightly darker text color */
    margin-bottom: 30px;
  }
  
  .home img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow for the image */
  }
  